.card-modal-background {
    background-color: rgba(40, 40, 40, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: scroll;
    // overflow: hidden;
}

.card-modal-header {
    display: flex;
}


.card-modal-container {
    min-width: 250px;
    width: 650px;
    min-height: 600px;
    height: 600px;
    margin-top: 38px;
    margin-left: 7px;
    margin-right: 7px;
    padding-bottom: 4px;
    background-color: #f4f5f7;
    border-radius: 2px;
    z-index: 2;
    font-weight: normal;
    position: relative;
}

.close-card-modal {
    border: none;
    color: #41526e;
    background-color: transparent;
    font-size: 17px;
    position: absolute;
    top: 5px;
    // left: 605px;
    right: 5px;
    height: 40px;
    width: 40px;
    margin-left: 3px;
}

.close-card-modal:hover {
    background-color: #e1e4e9;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.card-modal-title, .card-description-header, .card-activity-header {
    display: flex;
    align-items: center;
}

.card-title-icon {
    height: 15px;
    width: 19px;
    margin-top: 2px;
}

.card-description-icon {
    height: 20px;
    width: 20px;
}

.card-activity-icon {
    height: 26px;
    width: 27px;
}

.card-modal-title {
    width: 90%;
    margin-bottom: 55px;

    img {
        margin-left: 12px;
        margin-right: 10px;
    }

    input {
        width: 550px;
        min-width: 225px;
        color: #182a4d;
        background-color: #f4f5f7;
        border: none;
        font-size:19px;
        letter-spacing: -.05rem;
        font-weight: bolder;
        margin-top: 17px;
    }

    input:focus {
        background-color: white;
        border: 2px #0179bf solid;
    }

    div > p {
        color: #616f86;
        font-size: 13px;
        font-weight: lighter;
        letter-spacing: 0.01rem;
        margin-top: 5px;
        margin-left: 4px;
    }

}

.card-title-form {
    width: 100%;
}


.card-modal-description, .card-activity-header {
    img {
        margin-left: 14px;
    }

    h1 {
        color: #182a4d;
        font-size: 15px;
        font-weight: 520;
        letter-spacing: .015rem;
        margin-left: 10px;
    }
}





// card description

.card-description {
    textarea {
        width: 93%;
        border: 2px solid #0179bf; 
        resize: none;
        font-family: arial, sans-serif;
        font-size: 14px;
        letter-spacing: 0.015rem;
        font-weight: 500;
        border-radius: 3px;
        padding: 10px 10px 25px 12px;
        margin: 18px 0px 8px 0px;
        margin-left: 10px;
    }

    button:first-child {
        font-size: 14px;
        letter-spacing: 0.0125rem;
        color: #495773;
        border: none;
        border-radius: 3px;
        background-color: #ebecef;
        padding: 10px 10px 25px 12px;
        margin: 18px 0px 33px 0px;
        margin-left: 2%;
        height: 58px;
        width: 96%;
        text-align: left;
    }
}

.card-new-comment {

    .card-comment-form-input {
        width: 96%;
        margin-left: 2%;
        margin-top: 10px;
    }

    .save-comment {
        color: white;
        background-color: blue;
    }
}

.has-description {
    background-color: white;
}


// .card-comment-form-buttons {
//     display: flex;
    
// }

// .card-description-form-buttons {
//     display: flex;

//     button:first-child {
//         background-color: #0179bf;
//     }

//     button:nth-child(2) {
//         border: none;
//         background-color: transparent;
//     }
// }

.save-description {
    background-color: #0179bf;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    letter-spacing: 0.02em;
    height: 32px;
    width: 55px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.hide-card-description-form {
    position: relative;
    color: #5e6c84;
    font-weight: lighter;
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin-left: 9px; 
    top: 3px;
}


// TODO: make button backbround transparent if a description is present
.has-description {
    background-color: pink;
}







// card comment form
.card-new-comment {
    display: flex;
    width: 100%;
    margin: 24px 0px 12px;
}

.commenter-name {
    margin-bottom: 7px;
    font-weight: 600;
    color: #182a4d;
    letter-spacing: 0.005rem;
}

.reveal-card-comment-form {
    border: #ccd1e0 1px solid;
    border-radius: 3px;
    box-shadow: 0 1px 1px -1px #b3b8c5;
    padding: 10px 12px 10px 12px;
    color: #6b788e;
    background-color: white;
    font-size: 14px;
    letter-spacing: 0.015rem;
}

.reveal-card-comment-form:hover {
    box-shadow: 0 1px 1px -1px #3e4044;
}







// card comment index item

.comment-index-item {
    display: flex;
    margin: 24px 0px 24px;

    .comment-body {
        border: #ccd1e0 1px solid;
        border-radius: 3px;
        box-shadow: 0 1px 1px -1px #b3b8c5;
        padding: 10px 12px;
        color: #1e2f51;
        background-color: white;
        font-size: 14px;
        letter-spacing: 0.015rem;
        margin-bottom: 7px; 
    }
}

.commenter-icon {
    height: 32px;
    width: 32px;
    background-color: #0179bf;
    border-radius: 50%;
    margin: 0px 10px 10px;

    img {
        height: 22px;
        width: 26px;     
        filter: brightness(0%) invert(87%) sepia(5%) saturate(88%) hue-rotate(182deg) brightness(113%) contrast(93%);  
        padding: 3px 3px; 
    }
}

.edit-comment, .delete-comment {
    color: #5e6c84;
    font-size: 12px;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    letter-spacing: 0.015rem;
}

.comment-hyphen {
    color: #5e6c84;
    font-size: 12px;
}

.comment-index-item-buttons {
    display: flex;
    // margin-bottom: 22px;
}

