
.card-index {
    max-height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
}

.card-index-item {
    position: relative;
    // display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 3px;
    margin: 8px;
    box-shadow: 0 2px 2px -1px #b3b8c5;
    min-height: 29px;
    padding: 2px;
    overflow-y: scroll;

    .comment-count-sec {
        display: flex;
        align-items: center;
        padding: 5px 7px 6px;

        > img {
            width: 20px;
            height: 18px;
            margin-right: 4px;
        }
        > p {
            color: #69768c;
            font-size: 12px;
            font-weight: normal;
        }
    }
}

.card-index-item > li {
    color: #182a4d;
    font-size: 14px;
    font-weight: normal;
    inline-size: 242px;
    overflow-wrap: break-word;
    padding: 4px;
}

.card-index-item:first-child {
    margin-top: 0px;
}

.card-index-item:hover {
    background-color: #f4f5f7;
}

.card-index-item:hover > button, .card-index-item > button:hover {
    display: inline-block;
}

.card-index-item > button {
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 3px;
    display: none;
    font-size: 12px;
    top: 4px;
    right: 5px;
    background-color: #ebecf0;
    border: none;
}

.card-edit {
    font-size: 18px;
    margin-right: 30px;
}

.card-form {
    background-color: #ebecf0;
    border-radius: 3px;
}

.add-card {
    background-color: #0179bf;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    letter-spacing: 0.02em;
    height: 32px;
    width: 86px;
    margin-left: 8px;
    margin-bottom: 8px;
}

.hide-card-form {
    position: relative;
    color: #5e6c84;
    font-weight: lighter;
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin-left: 9px;
    top: 3px;
}

// .card-form > button:hover {
//     color: #203153;
//     background-color: #dadbe2;
//     border-radius: 3px;
//     width: 255px;
// }

.card-form > input {
    background-color: white;
    font-family: arial, sans-serif;
    color: #182a4d;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 8px;
    width: 240px;
    resize: none;
    border-radius: 3px;
    margin-bottom: 8px;
    box-shadow: 0 2px 2px -1px #b3b8c5;
}

.card-form > input:focus {
    outline: none;
}

.create-card-form {
    display: none;
}

.reveal-card-form {
    background-color: transparent;
    border: none;
    color: #5e6c84;
    font-size: 14px;
    letter-spacing: 0.02em;
    margin-left: 8px;
    margin-bottom: 8px;
}

.card-index-foot {
    padding-top: 2px;
}