


.card-index-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 3px;
    margin: 8px;
    box-shadow: 0 2px 2px -1px #b3b8c5;
    min-height: 29px;
    padding: 2px;
}

.card-index-item > li {
    color: #182a4d;
    font-size: 14px;
    font-weight: normal;
    inline-size: 242px;
    overflow-wrap: break-word;
    padding: 4px;
}

.card-index-item:first-child {
    margin-top: 0px;
}

.card-index-item:hover {
    background-color: #f4f5f7;
}

.card-index-item:hover > button, .card-index-item > button:hover {
    display: inline-block;
}

.card-index-item > button {
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 3px;
    display: none;
    font-size: 12px;
    top: 4px;
    right: 5px;
    background-color: #ebecf0;
    border: none;
}

// .card-form {
//     display: flex;
//     justify-content: space-evenly;
//     flex-direction: column;
//     align-items: center;
// }

.card-form > button {
    background-color: transparent;
    border: none;
    color: #5e6c84;
    font-size: 14px;
    letter-spacing: 0.02em;
    margin-left: 8px;
    margin-bottom: 8px;
}

.card-form > button:hover {
    color: #203153;
    background-color: #dadbe2;
    border-radius: 3px;
    width: 255px;
}

.card-form > input {
    background-color: #dde4e9;
    font-family: arial, sans-serif;
    color: #182a4d;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 8px;
    width: 240px;
    resize: none;
    border-radius: 3px;
    margin-bottom: 8px;
    box-shadow: 0 2px 2px -1px #b3b8c5;
}

.card-form > input:focus {
    outline: none;
}