#create-board-modal-background {
    background-color: transparent;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    // align-items: flex-start;
    display: -webkit-flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: scroll;
    // background-color: pink;
 }

#create-board-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    width: 300px;
    min-height: 340px;
    height: 380;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
    font-weight: normal;
    position: absolute;
    left: 268px;
    top: 230px;
    border: 1px #ebecf0 solid;
    border-radius: 2px;

    img {
        width: 80%;
    }

    .required {
        color: red;
    }

    form {
        width: 90%;


        input {
            font-size: 14px;
            width: 256px;
            letter-spacing: 0.015rem;
            height: 31px;
            background-color: #fafbfc;
            border: 2px #dee1e5 solid;
            border-radius: 3px;
            padding-left: 12px;
        margin-bottom: 10px;
        }

        input:hover {
            background-color: #dde0e5;
        }

        input:focus {
            background-color: white;
        }
    }
}