.session-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9fafc;
    height: 100vh;
    width: 100vw;
}

.session-header {
    position: absolute;
    top: 35px;
    display: flex;
    align-items: center;
    font-size: 48px;
    font-weight: bolder;
    // margin-top: 35px;
}

.session-header > img {
    height: 1em;
}

.session-header > h1 {
    color: #253758;
    margin-left: 8px;
}

.login-form, .signup-form {
    position: absolute;
    top: 86px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 398px;
    border: none;
    box-shadow: 0 0 10px #d5d6d8;
    border-radius: 0.25em;
    margin-top: 35px;
}

.signup-form {
    height: 480px;
}

.login-form {
    // height: 850px;
    height: 368px;
    padding-bottom: 15px;
}

.session-form-title {
    margin-top: 42px;
    margin-bottom: 19px;
    font-weight: bolder;
}

.session-input {
    width: 80%;
    height: 40px;
    margin: 8px;
    border: 2px solid #dee1e5;
    border-radius: 3px;
    background-color: #f9fafc;
}

#session-input :focus {
    border: #64a6ff;
}

.session-img {
    height: 100%;
}


#session-left {
    height: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#session-right {
    height: 38.25%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}


.session-button {
    color: white;
    background-color: #59ac44;
    border: none;
    border-radius: 4px;
    height: 32px;
    width: 80%;
    margin-top: 12px;
}

.session-button:hover {
    background-color: #61BD4F;
}

.session-redirect {
    font-size: 14px;
    font-weight: lighter;
    text-decoration: none;
    color: #0754cc;
}

#signup-redirect {
    margin-bottom: 35px;
}

.login-redirect-footer {
    display: flex;
    justify-content: space-evenly;
    width: 260px;
}

#signup-button {
    margin-top: 11px;
}

.session-hr {
    color: #cccccc;
    width: 78%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.lang-menu {
    color: #5f6d85;
    background-color: #f9fafc;
    height: 38px;
    width: 162px;
    border: 2.5px solid #eceff0;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 0.015em;
}

.login-lang-menu {
    margin-bottom: 135px;
}

.signup-lang-menu {
    margin-top: 50px;
    margin-bottom: 80px;
}

.terms-footer {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    font-size: 11.5px;
    font-weight: lighter;
    color: #0052cc;  
    margin-top: 20px;
    margin-bottom: 45px;
}