body {
    font-family: 'Noto Sans', sans-serif;
}

.splash {
    display: flex;
    background-image: linear-gradient(to bottom, #e9e6ff, #efecff, #f4f2ff, #faf9ff, #ffffff);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: contain;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.55;
    color: #091e42;
}

#product-intro {
    margin-bottom: 45px;
}

.splash-form {
    width: 50%;
    margin-right: 30%;
    margin-bottom: 3%;
    font-size: 20px;
    letter-spacing: 0.05em;
}

#splash-title {
    font-size: 42px;
    font-weight: bolder;
    line-height: 1.4;
    margin-bottom: 1%;
}

#root-img {
    height: 70%;
    position: absolute;
    right: 3%;
    bottom: 12%;
}

#quick-signup-input {
    border: 1px solid #ced4da;
    border-radius: 6px;
    width: 300px;
    height: 2.8em;
    padding: 0px 8px 0px 15px;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 550;
    color: #7493a6;
}

#quick-signup-button {
    color: white;
    // font-weight: bold;
    background-color:#0164ff;
    border-radius: 6px;
    border: none;
    padding-top: 7px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.6px;
    margin-right: 17px;
    font-size: 19px;
    height: 38px;
    width: 210px;
}

.quick-signup-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}