#splash-nav-bar {
    margin: 10px;
}

.site-logo {
    display: flex;
    align-items: center;
}

#site-title {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 5px;
}

#splash-signup {
    color: white;
    font-weight: bolder;
    background-color:#0164ff;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 7px 12px 7px;
    margin-right: 17px;
}

.logo {
    padding-left: 12px;
    height: 30px;
}

#splash-login-button {
    color: #0164ff;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 15px;
}