
.left-workspaces-nav-bar {
    position: fixed;
    top: 42px;
    width: 240px;
    border: none;
    padding-left: 17px;
    // padding-right: 12px;
    padding-top: 140px;
}

.workspaces-index-item {
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #293a5a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    padding-top: 11px;
    margin-top: 2px;
    padding-bottom: 11px;
    margin-bottom: 2px;
    border-radius: 3px;
}

.workspaces-index-item:hover {
    background-color: #e6e9ed;
}

#workspaces-index-header {
    margin-bottom: 22px;
}

#workspaces-index-title {
    font-size: 12px;
    font-weight: bold;
    color: #606e86;
    letter-spacing: 0.5px;
}

.workspaces-index-item > button {
    border: none;
    color: #637189;
    font-weight: bold;
    background-color: transparent;
    font-size: 10px;
}

.workspace-index-item-symbol {
    color: white;
    text-align: center;
    padding-top: 4px;
    width: 22px;
    height: 18px;
    border-radius: 2px;
}

.workspaces-index-item-header {
    display: flex;
    align-items: center;
}

.workspace-index-item-title {
    margin-left: 7px;
}

.workspaces-index-header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .workspaces-index-header-title > button {   
    border: none;
    color: #637189;
    font-weight: lighter;
    background-color: transparent;
    font-size: 17px;
    margin-right: 5px;
 }

 .drop-down-icon {
    width: 11px; 
    height: 6px;
    filter: invert(31%) sepia(17%) saturate(996%) hue-rotate(178deg) brightness(89%) contrast(87%);
 }

 .open-drop-down {
     transform: scaleY(-1);
 }




 //index item drop down
 .workspace-index-item-drop-down {
    display: flex;
    flex-direction: column;
    
    button {
        color: #6f7a90;
        height: 33px;
        border: none;
        border-radius: 2px;
        text-align: left;
        padding-left: 40px;
        margin: 3px 0px;
        margin-right: 5px;
        background-color: transparent;

        span {
            padding-right: 12px;
        }
    }

    button:hover {
        color: #0179bf;
        background-color: #e3f0f6;
    }
 }

 .edit-workspace-modal-background {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
 }

.edit-modal-container {
    min-width: 250px;
    width: 650px;
    min-height: 600px;
    height: 600px;
    margin-top: 38px;
    margin-left: 7px;
    margin-right: 7px;
    padding-bottom: 4px;
    background-color: #f4f5f7;
    border-radius: 2px;
    z-index: 2;
    font-weight: normal;
    position: relative;
}

.create-workspace-modal-background {
    background-color: rgba(40, 40, 40, 0.8);
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: scroll;
}

// TODO: need to fix naxbar being over create modal background
.create-workspace-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    width: 480px;
    height: 600px;
    margin-top: 75px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 4px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(workspace-modal-background2.png);
    border-radius: 2px;
    z-index: 2;
    font-weight: normal;
    position: relative;

    img {
        height: 255px;
        width: 350px;
        margin-top: 35px;
        position: center;
        // margin-left: 25px;
    }

    h1 {
        color: #091e42;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        margin: 10px 0px 15px;
    }

    h2 {
        color: #8d96a6;
        font-size: 16px;
        font-weight: lighter;
        text-align: center;
        margin-bottom: 40px;
    }

    h3 {
        color: #091e42;
        font-size: 12px;
        font-weight: 600; 
    }

    p {
        color: #8d96a6;
        font-size: 12px;
        font-weight: lighter;
        margin-bottom: 20px;
    }
    
    #no-title {
        border: none;
        color: #aab3bf;
        background-color: #f6f6f8;
        cursor: not-allowed;
    }

    #title-present {
        border: none;
        color: white;
        background-color: #0179bf;
    }

    #no-title, #title-present {
        width: 100%;
        height: 45px;
        border-radius: 3px;
    }

    #main-content {
        width: 85%;
    }
}

.close-create-workspace-modal {
    border: none;
    color: #182a4d;
    background-color: transparent;
    font-size: 19px;
    font-weight: bolder;
    position: absolute;
    top: 22px;
    // left: 605px;
    right: 5px;
    height: 40px;
    width: 40px;
    margin-left: 3px;
}

// .create-workspace-modal {

//     h1 {
//         color: #091e42;
//         font-size: 24px;
//         font-weight: 600;
//         text-align: center;
//         margin: 30px 0px 15px;
//     }
    
//     #main-content {
//         width: 85%;
//     }
// }


.create-workspace-form {

    #workspace-input {
        font-size: 14px;
        letter-spacing: 0.015rem;
        height: 40px;
        width: 96.5%;
        background-color: #fafbfc;
        border: 2px #dee1e5 solid;
        border-radius: 3px;
        padding-left: 12px;
        margin: 5px 0px 10px;
    }

    #workspace-input:hover {
        background-color: #dde0e5;
    }

    #workspace-input:focus {
        background-color: white;
    }
}
