
.left-workspaces-nav-bar {
    position: fixed;
    top: 42px;
    width: 240px;
    border: none;
    padding-left: 17px;
    // padding-right: 12px;
    padding-top: 140px;
}

.workspaces-index-item {
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #293a5a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    padding-top: 11px;
    margin-top: 2px;
    padding-bottom: 11px;
    margin-bottom: 2px;
    border-radius: 3px;
}

.workspaces-index-item:hover {
    background-color: #e6e9ed;
}

#workspaces-index-header {
    margin-bottom: 22px;
}

#workspaces-index-title {
    font-size: 12px;
    font-weight: bold;
    color: #606e86;
    letter-spacing: 0.5px;
}

.workspaces-index-item > button {
    border: none;
    color: #637189;
    font-weight: bold;
    background-color: transparent;
    font-size: 10px;
}

.workspace-index-item-symbol {
    color: white;
    text-align: center;
    padding-top: 4px;
    width: 22px;
    height: 18px;
    border-radius: 2px;
}

.workspaces-index-item-header {
    display: flex;
    align-items: center;
}

.workspace-index-item-title {
    margin-left: 7px;
}

.workspaces-index-header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .workspaces-index-header-title > button {   
    border: none;
    color: #637189;
    font-weight: lighter;
    background-color: transparent;
    font-size: 17px;
    margin-right: 5px;
 }

// .create-workspace-form {
//     display: none;
// }

//  .create-workspace-form > button {
//     border: none;
//     color: #637189;
//     font-weight: lighter;
//     background-color: transparent;
//     font-size: 17px;
//     margin-right: 5px; 
//  }

//  .create-workspace-form > input {
//     width: 110px;
//     border: 1px solid gray;
//     border-radius: 3px;
//  }

 .drop-down-icon {
    height: 6px;
    filter: invert(31%) sepia(17%) saturate(996%) hue-rotate(178deg) brightness(89%) contrast(87%);
 }

 .open-drop-down {
     transform: scaleY(-1);
 }

 .create-workspace-modal {
     z-index: 3;
     height: 200px;
 }

 .create-workspace-form-background {
     height: 180px;
 }